/* shared styles */

* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

.btn-primary {
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 20px 24px;
    border: 0;
    cursor: pointer;
}

.container {
    max-width: 1150px;
    margin: auto;
    margin-bottom: 100px;
}

.text-bold {
    color: #131313;
}

.clr-primary {
    color: #FF900E;
}

.section-title {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}

.section-description {
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; 
    padding: 24px 0;
}

/* header styles */

header {
    background: rgba(255, 144, 14, 0.10);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > ul {
    display: flex;
    gap: 40px;
}


nav ul > li {
    list-style: none;
}

nav ul li > a {
    text-decoration: none;
    color: #424242;
    font-size: 1rem;
    font-weight: 500;
    line-height: 26px;
}

.nav-title {
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}

/* banner styles */
.banner-content {
    max-width: 760px;
    text-align: center;
    margin: auto;
}

.banner-title {
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}

.banner-desc {
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px; 
    padding-bottom: 1.4rem;
}

.banner img {
    width: 100%;
    margin-top: 1.8rem;
    padding-bottom: 45px;
}


/* team section styles */
.team-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 70px 40px;

}

.team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.team-img-container img {
    width: 250px;
}

.team-content-container {
    margin-left: 40px;
}

.team-title {
    color: #727272;
    font-size: 45px;
    font-weight: 500;
}

/* features section styles */

.features-container {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.features-content-container {
    padding: 30px 0;
}

.features-content-container > .section-title {
    border-left: 5px solid #FF900E;
    padding-left: 18px;
}

.feature-item {
    margin: 30px;
}

.feature-item-title{
    color: #131313;
    font-size: 20px;
    font-weight: 600;
}

.feature-item > .section-description {
    line-height: 20px;
    padding: 8px 0;
}

.flx-col {
    flex: 1;

}
.features-experience-container img {
    width: 100%
}

.experience {
    text-align: center;
    background-color: #FF900E;
    color: #FFF;
    border-radius: 8px;
    width: 250px;
    padding: 40px 10px;

    position: relative;
    bottom: 95px;
    right: 70px;
}
.experience h3{
    color: #FFF;
    font-size: 45px;
    font-weight: 700;
}
.experience p{
    color: #FFF;
    font-size: 20px;
    font-weight: 500;
}

/* facts section style */
.all-facts {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 70px;
}

.fact {
    text-align: center;

    width: 240px;
    border-radius: 8px;
    border: 1px solid #FF900E;
    padding: 50px 0;
}

.fact h4{
    color:#424242;;
    font-size: 40px;
    font-weight: 600;
    padding: 10px 0;
}
.fact p{
    color: #727272;
    font-size: 18px;
    font-weight: 600;
}

.sponsor-container {
    text-align: center;
}

.sponsor-container p{
    width: 55%;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 50px;
}

.sponsors {
    display: flex;
    justify-content: space-between;
}

/* footer section styles */
.footer-container {
    border-radius: 8px;
    background: #FFF4E7;
    padding: 38px;
    text-align: center;
}

/* responsive styles */

/* mobile devices */
@media screen and (max-width: 576px) {
    header {
        padding: 0 20px;
    }

    nav,
    .team-container,
    .features-container {
        flex-direction: column;
    }
    .team-container {
        gap: 50px;
    }

    .banner-title {
        font-size: 3rem;
    }
    .banner img {
        padding-bottom: 25px;
    }

    .team-img-container {
        grid-template-columns: repeat(1, 1fr);
      }
      .experience {
        bottom: 0;
        left: 0;
        width: 94%;
    }

    .features-container {
        padding: 20px ;
    }      

    .facts-container {
        padding: 0 20px;
    }
    .all-facts {
        justify-content: center;
    }
    .sponsor-container p {
        width: auto;
        padding-left: 20px;
        padding-right: 20px;
    } 
    .sponsors {
        gap: 40px;
        flex-direction: column;
    }

    .sponsors img{
        width: 100px;
        margin: auto;
    }

}

/* tablet devices */
@media screen and (min-width: 577px) and (max-width: 960px) {
    header {
        padding: 50px;
    }
    nav,
    .features-container {
        flex-direction: column;
    }

    .team-img-container img {
        width: 200px;
    }

    .experience {
        bottom: 0;
        left: 0;
        width: 97%;
    }

    .features-container {
        padding: 30px ;
    }

    .facts-container {
        padding: 0 20px;
    }
    .all-facts {
        justify-content: center;
    }
    
    .sponsors {
        gap: 40px;
        flex-direction: column;
    }

    .sponsors img{
        width: 100px;
        margin: auto;
    }
}