/* shared styles */

* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

.btn-primary {
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 20px 24px;
    border: 0;
    cursor: pointer;
}

.container {
    max-width: 1150px;
    margin: auto;
}

.text-bold {
    color: #131313;
}

.clr-primary {
    color: #FF900E;
}

.section-description {
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; 
    padding: 24px 0;
}

/* header styles */

header {
    background: rgba(255, 144, 14, 0.10);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > ul {
    display: flex;
    gap: 40px;
}


nav ul > li {
    list-style: none;
}

nav ul li > a {
    text-decoration: none;
    color: #424242;
    font-size: 1rem;
    font-weight: 500;
    line-height: 26px;
}

.nav-title {
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}

/* banner styles */
.banner-content {
    max-width: 760px;
    text-align: center;
    margin: auto;
}

.banner-title {
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}

.banner-desc {
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px; 
    padding-bottom: 1.4rem;
}

.banner img {
    width: 100%;
    margin-top: 1.8rem;
    padding-bottom: 45px;
}


/* team section styles */
.team-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 70px 40px;

}

.team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.team-img-container img {
    width: 250px;
}

.team-content-container {
    margin-left: 40px;
}

.team-title {
    color: #727272;
    font-size: 45px;
    font-weight: 500;
}

/* features section styles */

/* responsive styles */

/* mobile devices */
@media screen and (max-width: 576px) {
    header {
        padding: 0 20px;
    }

    nav,
    .team-container {
        flex-direction: column;
    }
    .team-container {
        gap: 50px;
    }

    .banner-title {
        font-size: 3rem;
    }
    .banner img {
        padding-bottom: 25px;
    }

    .team-img-container {
        grid-template-columns: repeat(1, 1fr);
      }
}

/* tablet devices */
@media screen and (min-width: 577px) and (max-width: 960px) {
    header {
        padding: 50px;
    }
    nav {
        flex-direction: column;
    }

    .team-img-container img {
        width: 200px;
      }
}